.graphics {
   &__title {
      font-weight: 600;
      font-size: 64px;
      line-height: 76px;
      text-align: center;
      margin-top: 13px;
      color: #ffffff;
      margin-bottom: 22px;

      @include media-breakpoint-down(xxl) {
         font-size: 50px;
         line-height: 60px;
      }
      @include media-breakpoint-down(xl) {
         font-size: 40px;
         line-height: 50px;
      }
      @include media-breakpoint-down(lg) {
         font-size: 35px;
         line-height: 45px;
      }
      @include media-breakpoint-down(md) {
         font-size: 25px;
         line-height: 35px;
      }

      @include media-breakpoint-down(sm) {
         font-size: 17px;
         line-height: 23px;
      }
   }

   &__inner {
   }

   &__top {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
      align-items: center;

      @include media-breakpoint-down(xl) {
         margin-bottom: 10px;
      }
   }

   &__top-title {
      font-weight: 600;
      font-size: 24px;
      line-height: 29px;
      /* identical to box height */

      color: #ffffff;

      @include media-breakpoint-down(xl) {
         font-size: 18px;
         line-height: 22px;
      }
   }

   &__top-price {
      font-weight: bold;
      font-size: 25px;
      line-height: 36px;
      text-align: center;
      color: #ffffff;
      border-bottom: 1px dashed;
      padding-bottom: 5px;
      white-space: nowrap;
      padding-left: 5px;

      @include media-breakpoint-down(xl) {
         font-size: 18px;
         line-height: 22px;
      }
   }

   &__bottom {
      margin-top: 25px;

      @include media-breakpoint-down(xl) {
         margin-top: 10px;
      }
   }

   &__bottom-text {
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      color: #ffffff;

      @include media-breakpoint-down(xl) {
         font-size: 13px;
         line-height: 16px;
      }
   }

   &__chart {
      height: 100%;
      padding: 15px;

      background: linear-gradient(180deg, rgba(125, 0, 255, 0.81) 0%, rgba(92, 0, 188, 0.81) 100%);
      box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.25);

      &.left {
         background: linear-gradient(180deg, rgba(30, 201, 201, 0.9) 0%, rgba(20, 160, 160, 0.9) 100%);
         box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.25);
      }

      &.right {
         background: linear-gradient(180deg, rgba(255, 94, 180, 0.9) 0%, rgba(187, 0, 101, 0.9) 100%);
         box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.25);
      }
   }
}
