.price {
   margin-top: 15px;
   &__left {
      display: flex;
      flex-direction: column;
      background: rgba(255, 255, 255, 0.9);
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 24px;
      height: 100%;

      @include media-breakpoint-down(sm) {
         height: 100%;
         padding-left: 5px;
         padding-right: 5px;
         padding-top: 5px;
         justify-content: space-evenly;
      }
   }

   &__left-title {
      font-weight: 600;
      font-size: 24px;
      line-height: 29px;
      /* identical to box height */

      color: #000000;

      @include media-breakpoint-down(md) {
         font-size: 17px;
         line-height: 19px;
      }

      @include media-breakpoint-down(sm) {
         display: none;
      }
   }

   &__tab-btn {
      padding: 30px 0;
      font-weight: normal;
      font-size: 18px;
      line-height: 21px;
      background: transparent;
      color: #000000;

      border-bottom: 1px dashed #929292;
      display: flex;
      text-align: left;
      align-items: center;

      @include media-breakpoint-down(md) {
         font-size: 15px;
         line-height: 17px;
      }

      @include media-breakpoint-down(sm) {
         justify-content: center;
      }
      &.active {
         font-weight: bold;
         font-size: 18px;
         line-height: 21px;
         text-align: left;

         color: #f4138c;
         border-bottom: 3px solid #f4138c;
         position: relative;

         @include media-breakpoint-down(md) {
            font-size: 15px;
            line-height: 17px;
         }

         &:after {
            z-index: 9;
            position: absolute;
            content: "";
            width: 37px;
            height: 37px;
            right: -36px;
            top: 36px;

            border: 20px solid transparent;
            border-right: 29px solid rgba(244, 19, 140, 0.5);

            @include media-breakpoint-down(sm) {
               display: none;
            }
         }
      }

      & span {
         @include media-breakpoint-down(sm) {
            display: none;
         }
      }
   }
   &__right {
      background: rgba(255, 255, 255, 0.9);
      height: 100%;
      padding: 25px;
      z-index: 10;

      @include media-breakpoint-down(sm) {
         padding: 10px;
      }
   }

   &__right-title {
      font-weight: 600;
      font-size: 24px;
      line-height: 29px;
      /* identical to box height */

      color: #000000;
      margin-bottom: 18px;

      @include media-breakpoint-down(md) {
         font-size: 17px;
         line-height: 19px;
         margin-bottom: 5px;
      }
   }

   &__right-item {
      display: none;

      &.active {
         display: block;

         @include media-breakpoint-down(sm) {
            justify-content: center;
         }
      }
   }

   &__right-tab {
      padding: 6px 30px;
      background: transparent;
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;
      text-align: center;
      color: #000000;
      border-bottom: 1px dashed #929292;
      margin-right: 15px;

      @include media-breakpoint-down(md) {
         font-size: 15px;
         line-height: 17px;
      }

      @include media-breakpoint-down(sm) {
         padding: 6px 10px;
         margin-right: 10px;
      }

      &.active {
         font-weight: bold;
         font-size: 18px;
         line-height: 21px;
         text-align: center;

         color: #f4138c;
         border-bottom: 3px solid #f4138c;

         @include media-breakpoint-down(md) {
            font-size: 15px;
            line-height: 17px;
         }
      }
   }

   &__right-tab-box {
      @include media-breakpoint-down(sm) {
         display: flex;
         justify-content: center;
      }
   }
   &__right-content {
      display: none;

      &.active {
         display: block;
      }
   }

   &__col-left {
      @include media-breakpoint-down(sm) {
         padding-right: 0;
      }
   }

   &__col-right {
      @include media-breakpoint-down(sm) {
         padding-left: 0;
      }
   }

   &__form-label {
      font-weight: normal;
      font-size: 18px;
      line-height: 21px;
      color: #000000;

      @include media-breakpoint-down(md) {
         font-size: 15px;
         line-height: 17px;
      }
   }

   /*******************************/

   &__form {
      margin-top: 35px;
      display: flex;
      justify-content: flex-start;
      flex-wrap: nowrap;

      @include media-breakpoint-down(md) {
         flex-direction: column;
         align-items: center;
      }
      & select {
         margin-left: 7px;
         background: transparent;
         font-weight: bold;
         font-size: 18px;
         line-height: 21px;
         text-align: center;
         color: #000000;
         border-bottom: 1px dashed #929292;
         max-width: 165px;
         margin-right: 15px;

         @include media-breakpoint-down(md) {
            font-size: 15px;
            line-height: 17px;
         }
      }

      & input {
         margin-left: 7px;
         background: transparent;
         font-weight: bold;
         font-size: 18px;
         line-height: 21px;
         text-align: center;
         color: #000000;
         border-bottom: 1px dashed #929292;

         @include media-breakpoint-down(md) {
            font-size: 15px;
            line-height: 17px;
         }

         &[type="submit"] {
            padding: 15px 0;
            border: none;
            font-weight: normal;
            font-size: 18px;
            line-height: 21px;
            background: #f4138c;
            color: #ffffff;
            border-radius: 5px;
         }
      }
   }

   &__form-radio {
      margin-top: 16px;
      vertical-align: middle;
   }
   &__form-bottom {
      @include media-breakpoint-down(sm) {
         text-align: center;
      }
      & input[type="radio"] {
         border: 1px solid #f4138c;
         padding: 0.5em;
         -webkit-appearance: none;
      }

      input[type="radio"]:checked {
         background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+CLc8x8ABiUCkzTDlk0AAAAASUVORK5CYII=);
         background-repeat: no-repeat;
         background-position: center center;
         background-size: 9px 9px;
      }

      input[type="radio"]:focus {
         outline-color: transparent;
      }
   }
   &__form-btn {
      background: #f4138c;
      border-radius: 5px;
      padding: 13px 30px;
      font-weight: normal;
      font-size: 18px;
      line-height: 21px;
      margin-top: 40px;
      color: #ffffff;

      @include media-breakpoint-down(sm) {
         margin-top: 15px;
      }
   }

   &__metal-box {
      @include media-breakpoint-down(xl) {
         display: flex;
         flex-direction: column;
      }

      & select {
         width: 100px;

         @include media-breakpoint-down(xl) {
            margin-left: 0px;
            margin-right: 0;
            margin-top: 5px;
            width: 196px;
            padding-left: 15px;
            text-align: center;
         }
      }
   }

   &__weight-box {
      margin-top: 40px;

      @include media-breakpoint-down(xl) {
         display: flex;
         flex-direction: column;
      }

      @include media-breakpoint-down(md) {
         margin-top: 20px;
      }
      & input {
         width: 100px;

         @include media-breakpoint-down(xl) {
            margin-left: 0px;
            margin-right: 0;
            margin-top: 5px;
            width: 170px;
         }
      }
   }

   &__phone-box {
      margin-top: 40px;

      @include media-breakpoint-down(md) {
         display: flex;
         flex-direction: column;
      }
      @include media-breakpoint-down(md) {
         margin-top: 20px;
      }

      & input {
         max-width: 150px;

         @include media-breakpoint-down(xl) {
            margin-left: 0;
            margin-right: 0;
            margin-top: 5px;
            max-width: 170px;
         }
      }
   }

   &__form-right {
      margin-left: 30px;

      @include media-breakpoint-down(md) {
         margin-left: 0;
         align-items: center;
      }
   }

   &__payment-box {
      @include media-breakpoint-down(md) {
         margin-top: 20px;
         display: flex;
         flex-direction: column;
      }
      & select {
         @include media-breakpoint-down(xl) {
            margin-left: 0px;
            margin-right: 0;
            margin-top: 5px;
            width: 196px;
         }
      }
   }

   &__price-box {
      margin-top: 40px;

      @include media-breakpoint-down(md) {
         margin-top: 20px;
         display: flex;
         flex-direction: column;
      }

      & input {
         max-width: 150px;
         margin-left: 15px;

         @include media-breakpoint-down(xl) {
            margin-left: 0px;
            margin-right: 0;
            margin-top: 5px;
            width: 196px;
         }
      }
   }
}

.icon-ringssvg {
   font-size: 32px;
   margin-right: 14px;
   margin-left: 3px;

   @include media-breakpoint-down(md) {
      margin-right: 5px;
   }
   @include media-breakpoint-down(sm) {
      margin-left: 0;
      margin-right: 0;
   }
}

.icon-diamondsvg {
   font-size: 32px;
   margin-right: 14px;
   margin-left: 3px;

   @include media-breakpoint-down(md) {
      margin-right: 5px;
   }
   @include media-breakpoint-down(sm) {
      margin-left: 0;
      margin-right: 0;
   }
}
.icon-goldsvg {
   font-size: 25px;
   margin-left: 3px;
   margin-right: 14px;
   line-height: 34px;

   @include media-breakpoint-down(md) {
      margin-right: 10px;
   }
   @include media-breakpoint-down(sm) {
      margin-left: 0;
      margin-right: 0;
   }
}
.icon-watchsvg {
   font-size: 32px;
   margin-right: 19px;
   margin-left: 11px;
   @include media-breakpoint-down(md) {
      margin-right: 5px;
   }

   @include media-breakpoint-down(sm) {
      margin-left: 0;
      margin-right: 0;
   }
}
