.text {
   margin-top: 15px;

   &__content {
      font-weight: normal;
      text-align: left;
      padding: 25px;
      background: rgba(255, 255, 255, 0.9);
      font-size: 18px;
      line-height: 21px;
      color: #000000;

      & p {
         margin-top: 5px;
         text-indent: 25px;
         &:last-child {
            text-indent: 0px;
            padding-left: 25px;
         }
      }

      @include media-breakpoint-down(xxl) {
         padding: 24px 80px 16px 80px;
         font-size: 22px;
         line-height: 27px;
      }

      @include media-breakpoint-down(xl) {
         padding: 20px 40px 10px 40px;
         font-size: 18px;
         line-height: 22px;
      }

      @include media-breakpoint-down(md) {
         padding: 10px;
         font-size: 14px;
         line-height: 16px;
      }
   }
}
